{% extends 'listar/base_table.html' %}


{% block cabeca %}

    <th>Nome</th>
    <th>Sobrenome</th>
    <th> Foto</th>
    <th>Editar</th>
    <th>Apagar</th>
{% endblock %}

{% block corpo %}
    {% for consulta in consultas %}
    <td>{{consulta.primeiro_nome}}</td>
    <td>{{consulta.ultimo_nome}}</td>
    <td><a href='{{consulta.foto.url}}'>Link</a></td>
    <td><button type="button" class=" btn-edit"><a class="bi bi-pencil-square" href="{% url 'tcc:atualizar' 'autor' consulta.id %}"/></button></td>
    <td><button type="button" class="btn-edit"><a class="bi bi-trash-fill" href="{% url 'tcc:deletar' 'autor' consulta.id %}"/></button></td>
    {% endfor %}

{% endblock %}



{% block criar %}
    <button class="btn btn-success btn-criar"><a class="nav-link bi bi-plus"  href="{% url 'tcc:criar' 'autor' %}">Criar</a></button>
{% endblock %}



