{% extends 'listar/base_body.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %} 

{% block body %}

<div class="container-fluid containerFluidTable">
  <div class="container">
    <div class="row row-container">
      <div class="col">
          <div class="row row-table">

              <table class="table table-dark table-hover ">
                <thead>
                  <tr>
                    {% block cabeca %} {% endblock %}
                  </tr>
                </thead>

                <tbody>
                  {% block corpo %}
                    
                  {% endblock %}
                </tbody>
              </table>
            </div>
            {% block criar %}
           
            {% endblock %}
{% endblock %}
    
    </div>
  </div>
</div>
</div>
</div>
</div>
