{% extends 'listar/base_body.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %} {% block body %}

<header>
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav">
             <li class="nav-item active">
              <a class="nav-link" href="{% url 'tcc:home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuarios:listar' %}">Usuários</a>
            </li>
          </ul>
      </div>

    </nav>
    <hr/>

</header>

<div class="container-fluid containerFluidTable">
  <div class="container">
    <div class="row row-container">
      <div class="col">
          <div class="row">

        <table class="table table-striped  table-dark">
          <thead>
            <tr>
              {% block cabeca %} {% endblock %}
            </tr>
          </thead>

          <tbody>
            <tr>
              {% block corpo %} {% endblock %}
            </tr>
          </tbody>
        </table>
      </div>

      {% endblock %}
    </div>
  </div>
</div>
</div>
</div>
</div>
