{% extends 'listar/base_table.html' %}

{% block title %}
<title>Usuários</title>
{% endblock  %}

{% block cabeca %}

    <th>Nome</th>
    <th>E-mail</th>
    <th>Editar</th>
    <th>Apagar</th>
{% endblock %}

{% block corpo %}
    {% for user in users%}
    <tr>
    <td> {{user.username}}</td>
    {% if user.email %}
        <td> {{user.email}}</td>
        {% else %}

        <td>#</td>
    {% endif %}
    <td><button type="button" class=" btn-edit"><a class="bi bi-pencil-square" href="{% url 'usuarios:atualizar' user.id %}"/></button></td>

    <td><button type="button" class="btn-edit"><a class="bi bi-trash-fill" href="{% url 'usuarios:deletar' user.id %}"/></button></td>
    <tr>

   
    {% endfor%}
                        
{% endblock %}

{% block criar %}
    <button class="btn btn-success btn-criar"><a class="nav-link bi bi-plus"  href="{% url 'usuarios:criar' %}">Criar</a></button>
{% endblock %}



