{% extends 'listar/base_table.html' %} 

{% comment %} {% block css %}
    <link rel="stylesheet" href="{% static 'css/atualizar_tcc.css' %}" />
{% endblock %}   {% endcomment %}


{% block cabeca %}

    <th>Titulo</th>
    <th>Curso</th>
    <th>Ano</th>
    <th>Autor</th>
    <th>Orientador</th>
    <th>Arquivo</th>
    <th>Ver</th>
    <th>Editar</th>
    <th>Apagar</th>
{% endblock %}

{% block corpo %}
    {% for consulta in consultas%}
        <tr>
        <td>{{consulta.titulo}}</td>
        <td>{{consulta.curso}}</td>
        <td>{{consulta.ano_documento}}</td>
        <td>{{consulta.autor.primeiro_nome}}</td> 
        <td>{{consulta.orientador.primeiro_nome}}</td>
        <td><button type="button" onclick="window.open('{{consulta.arquivo.url}}')"  value="Download"><i class="bi bi-download"></i></button>
        </td>
        <td><button type="button" class="btn-edit"><a class="bi bi-eye" href="{% url 'tcc:tcc' consulta.id %}"></a></button></td>
        <td><button type="button" class=" btn-edit"><a class="bi bi-pencil-square" href="{% url 'tcc:atualizar' 'tcc' consulta.id %}"></a></button></td>

        <td><button type="button" class="btn-edit"><a class="bi bi-trash-fill" href="{% url 'tcc:deletar' 'tcc' consulta.id %}"></a></button>
        </td>  
        </tr>

    {% endfor %} 


{% endblock %}


{% block criar %}
<button class="btn btn-success btn-criar"><a class="nav-link bi bi-plus"  href="{% url 'tcc:criar' 'tcc' %}">Criar</a></button>
{% endblock %}

