<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    oi 
    <h1> {{consultas.titulo}}</h1>

    oi
    {% for consulta in consultas%}
        <h1> {{consulta.titulo}}</h1>
        
        <p>{{consulta.curso}}</p>
        <p>{{consulta.ano_documento}}</p>
        <p>{{consulta.resumo}}</p>
        <p>{{consulta.arquivo}}</p>
        <p>{{consulta.palavras_chave}}</p>
        <p>{{consulta.autor.primeiro_nome}}</p>
        <img src="{{consulta.autor.foto.url}}">
        <p>{{consulta.orientador.primeiro_nome}}</p
    {% endfor %}

</body>
</html>