body{
    background-color: #181B1A;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181B1A;
   
 }


.row{
    height: 40%;
    padding: 2rem;
    background-color: #1D2021;
    border-radius: 5px;
}


h1, .content a, .content p, .content{
    color: #fff;
    text-align: center;
}

.row-btn{
    display: flex;
    justify-content: center;
}

.content a, .content p{
    font-size: 1.2rem;
    font-weight: bold;
}

.content p {
    margin-top: 1rem;
}

.btn {
    width: 100px;
    margin-left: 5px;
 } 