body{
    background-color: #212529;
}

.containerFluidTable{
    height: 100vh;
    background-color: #212529;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.btn-edit, button[value="Download"]{
    /* padding: 0; */
    background-color: transparent;
    border: 0;

}

.row-table{
    width: 100%;
}

.bi-pencil-square{
    color: #FFC006;
}

.bi-pencil-square:hover{
    color: #d29d00;
}

.bi-trash-fill{
    color: #FF4040;
}

.bi-trash-fill:hover{
    color: #ff5454
}

.bi-download{
    color: #198754;
}

.btn-criar{
    max-width: auto;
    margin-left: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

